@import "src/page-part/youtube-trot/style/Index";

.content {
  font-family: $font-family--noto-sans-kr;
  line-height: 1.4;
  padding: $portal-padding;
  text-align: center;
  white-space: pre-wrap;
  word-break: keep-all;
  .h1 {
    color: $oc-gray-8;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .h2 {
    color: $oc-gray-7;
    font-size: 1rem;
    margin-top: 0.8rem;
  }
  .wrapCheck {
    margin-top: 1rem;
    svg {
      color: #be4bdb !important;
    }
    .label {
      font-family: $font-family--noto-sans-kr;
      font-size: 1rem;
      font-weight: bold;
    }
  }
}
.BtnPlay {
  padding: 1rem 0;
  width: 100%;
}
