@import "../../style/Index";

.main {
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin: 0.4rem 0;
  transition: background-color 0.5s, width 0.5s linear;
  width: 100%;

  &.isHide {
    background-color: rgba(108, 0, 145, 0.5);

    .btnDelete {
    }
  }

  &:first-child {
    margin-top: 0.5rem;
  }
}

.handle {
  align-content: center;
  align-self: center;
  background: darkred;
  background: $oc-grape-1;
  box-sizing: content-box;
  cursor: grab;
  display: grid;
  height: 100%;
  padding: 0 1rem;
  width: 18px;

  > svg {
    opacity: 0.7;
  }
}
