
@import "src/page-part/youtube-trot/style/Index";

.main {
  box-sizing: border-box;
  //---
  gap: 0.4rem;
  height: 4rem;
  //height: 4rem;
  opacity: 1;
  overflow: hidden;
  padding: 0.6rem;
  //padding: 0.2rem;
  width: 100%;
}
