@import "../../style/Index";

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 1;

  .body {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    position: relative;
  }
}

.tabs {
  .tab {
    flex-grow: 1;
    font-family: $font-family--noto-sans-kr !important;
    font-size: 1rem !important;
    font-weight: bold !important;

    &[disabled] {
      color: $oc-gray-8;
      opacity: 0.2;
    }
  }
}
