@import "src/page-part/youtube-trot/style/Index";

.main {
  align-content: center;
  align-items: center;
  color: $oc-gray-9;
  //background: white;
  display: flex;
  font-family: $font-family--noto-sans-kr;
  font-size: 1rem;
  font-weight: bold;
  justify-content: space-between;
  min-height: 2.8rem;
  text-align: center;
  user-select: none;

  .left {
    //background: red;
    //min-width: 5rem;
    height: 100%;
    min-width: 100px;
  }
  .center {
    flex-grow: 1;
    overflow: hidden;
    padding: 0 2rem;
    text-overflow: ellipsis;
    white-space: pre;
    word-break: keep-all;
  }
  .right {
    height: 100%;
    //min-width: 5rem;
    min-width: 100px;
  }
}
