
@import "../../style/Index";

.main {
  background-image: $background--gradient;
  height: 100%;
  //---
  left: 0;
  opacity: 0;
  overflow-y: auto;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;

  &.isShow {
    opacity: 1;
    z-index: 10;
  }
}
