@import "src/page-part/youtube-trot/style/Index";

.overlay {
  align-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  justify-items: center;
  left: 0;
  overflow-y: auto;
  padding: 4rem 2rem;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;

  .main {
    background: white;
    box-sizing: border-box;
    height: auto;
    margin: auto;
    padding: 1.8rem 2.4rem;
    width: 100%;
    //margin: auto;

    @include max-width;
  }
}
