
@import "src/page-part/youtube-trot/style/Index";

.main {
  background: $oc-grape-1;
  border: none;
  //color: $oc-gray-9;
  color: $oc-grape-6;
  display: inline-block;
  font-family: $font-family--noto-sans-kr;
  font-size: 1rem;
  font-weight: bold;
  height: 100%;
  line-height: 100%;
  padding: 0 1rem;
  //transition: all 0.4s;
  user-select: none;
  //word-break: keep-all;
  &:active {
    background: $oc-grape-2;
    //
    color: $oc-grape-9;
  }
  &:disabled {
    background: $oc-grape-1;
    //
    color: $oc-grape-2;
  }
}
