
@import "../../../style/Index";

.main {

}
.inputSearch {
  background: white;
  border: none;
  font-family: $font-family--cute-font;
  font-size: 1.4rem;
  margin: 1rem 0;
  outline: none;
  padding: 1rem 2rem;
  width: 100%;
}

.wordsWrap {
  box-sizing: border-box;
  flex: 1;
  overflow: auto;
  padding: 0 1rem;

  .words {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    font-family: $font-family--cute-font;
    font-size: 1.4rem;
    gap: 0.4rem 0.4rem;
    .word {
      background: rgba(255, 255, 255, 0.2);
      border-radius: 0.4rem;
      box-sizing: border-box;
      overflow: hidden;
      padding: 0.4rem 0.6rem;
      text-overflow: ellipsis;
      user-select: none;
      white-space: pre;
      width: 100%;
      word-break: keep-all;
      &:active, &.isSelected {
        background-color: rgba(255, 255, 255, 0.4);
      }
    }
  }
}
