@import "../../../style/Index";

.main {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.iconM {
  height: 100%;
  width: 2.4rem;
}

.iconL {
  height: 100%;
  width: 3rem;
}
