@import "../../style/Index";

.bodyItem {
  height: 100%;
  left: 0;
  opacity: 0;
  overflow-y: auto;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  &.isSelected {
    opacity: 1;
    z-index: 2;
  }

  .wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;

    .body {
      flex: 1 1 0%;
      overflow-y: auto;
    }

    .footer {
      //box-shadow: 0 33px 24px 29px #444;
      //z-index: 1;
      //background-image: linear-gradient(180deg, rgba(255, 255, 255, .4) 0%, #d57eeb 100%);
    }
  }
}
