@import "../../style/Index";

/*
todo thumbnail 16:9 에 따른 .right 가로 길이 calc
  item 세로 높이 calc with overflow
 */

.main {
  background-color: rgba(255, 101, 80, 0.4);
  column-gap: 0.4rem;
  cursor: pointer;
  display: grid;
  font-family: $font-family--noto-sans-kr;
  grid-template-columns: auto 1fr auto;
  margin: 0.4rem 0;
  overflow: visible;
  //overflow: hidden;
  position: relative;
  user-select: none;
  //transition: all 0.2s;
  width: 100%;
  &:first-child {
    margin-top: 0.5rem;
  }
  //&.isPlay {
  //  .iconIng {
  //    display: block;
  //  }
  //}
  &:active, &.isSelected {
    background-color: rgba(255, 255, 255, 0.4);
  }

  &.isPlay {
    background-color: rgba(152, 0, 255, 0.18);
  }

  .col1 {
    align-content: center;
    display: flex;
    position: relative;
    img {
      display: block;
      width: 5rem;
    }
  }
  .col2 {
    color: $oc-gray-8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    overflow: hidden;
    padding: 0.4rem 0.4rem 0.4rem 0;
    text-overflow: ellipsis;
    white-space: pre;
    .type {
      font-family: $font-family--cute-font;
      font-size: 1.2rem;
      //color: $oc-gray-7;
      opacity: 0.6;
      overflow: hidden;
      text-overflow: ellipsis;
      .typeItem {
        .hash {
          font-family: $font-family--noto-sans-kr;
          font-size: 0.8rem;
        }

        margin-right: 4px;
      }
    }
    .title {
      font-family: $font-family--cute-font;
      font-size: 1.6rem;
      margin-top: 0.2rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  //.iconIng {
  //  display: none;
  //}
}
