@import "src/page-part/youtube-trot/style/Index";

.main {
  background-image: $background--gradient;
  display: flex;
  flex-direction: column;

  @include max-width;

  .slot {
    flex: 1;
    overflow: hidden;
    position: relative;
    width: 100%;

    > * {
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }

  .header {
    //background: #478300;
    text-align: center;
  }
}
